H1 {font-size: 24;
   text-align: left ;
     background-color:green}

div {Background-color: lightgreen;}
nav {
    float:right   
}
ol {font-size: 20;
line-height: 3; }
h3 {background-color: turquoise;
Line-height:3;}
p {background-color:}
